---
import '../styles/global.css';
import Navbar from '../components/Navbar';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Headers from '../components/Headers.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Welcome to my blog";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/me.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>index</title>
	</head>
	<body>
		
	<BaseLayout pageTitle={pageTitle}>
		<h2>My awesome blog subtitle</h2>
	</BaseLayout>
	
	<script>
	
		import "../scripts/menu.js";
	  </script>
	</body>
</html>
